### Agenda: 




* Random sampling data from dataframe

---

In [1]:
# Import Libraries

import pandas as pd

import os

#### Read Data

In [2]:
#Location of the file

filepath = os.path.join('Resources', 'ufo.csv')

In [3]:
#Read and create dataframe

ufo = pd.read_csv(filepath)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

---

#### Random Sample Method

In [4]:
# Pick 6 random rows from the dataframe
# Ramdom state parameter is for reproducibility

ufo.sample(n=6, random_state=42)

               City Colors Reported Shape Reported State              Time
217    Norridgewock             NaN           DISK    ME   9/15/1952 14:00
12282         Ipava             NaN       TRIANGLE    IL   10/1/1998 21:15
17933     Ellinwood             NaN       FIREBALL    KS  11/13/2000 22:00
9834        Poulsbo             NaN            NaN    WA   12/21/1996 0:00
7335        Zebulon             NaN          OTHER    NC   5/15/1994 15:30
563          Mohave             NaN          LIGHT    CA   8/15/1959 21:00

In [8]:
# Get 20% random data from the dataframe
# Ramdom state parameter is for reproducibility

ufo.sample(frac=0.2, random_state=43)[:5]

               City Colors Reported Shape Reported State              Time
16991       Riggins             NaN       FIREBALL    ID   7/21/2000 22:10
10006      Prescott          YELLOW      FORMATION    AZ   3/13/1997 20:15
15311        Denver             NaN          OTHER    CO  11/17/1999 18:15
10957  West Seattle             NaN      FORMATION    WA  11/14/1997 21:00
4359    Black Earth          ORANGE           OVAL    WI    7/1/1980 21:00