### Agenda: 


* Iterate data through the dataframe


* use of **``iterrows``**

---

In [2]:
# Import Libraries

import os
import pandas as pd

In [3]:
# Declare the file path

csvpath = os.path.join('Resources', 'imdb_1000.csv')

In [4]:
# Read the csv file into a dataframe using read_csv function

df = pd.read_csv(csvpath, usecols=['title','genre'], nrows=5)
df

                      title   genre
0  The Shawshank Redemption   Crime
1             The Godfather   Crime
2    The Godfather: Part II   Crime
3           The Dark Knight  Action
4              Pulp Fiction   Crime

---

#### Loop through a Series

In [5]:
for i in df.title:
    print(i)

The Shawshank Redemption
The Godfather
The Godfather: Part II
The Dark Knight
Pulp Fiction

---

#### Loop through a Dataframe

In [7]:
for index, row in df.iterrows():
    print(index,row.title, row.genre)

0 The Shawshank Redemption Crime
1 The Godfather Crime
2 The Godfather: Part II Crime
3 The Dark Knight Action
4 Pulp Fiction Crime