### Agenda: 


* Pandas Index

* Pandas index are the ``Row label`` in the dataframe

* Three (3) uses of indexes

    - identification
    
    - selection
    
    - alignment

---

In [1]:
# Import Libraries

import os
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# Declare the file path

filepath = os.path.join('Resources', 'ufo.csv')

In [3]:
# Read the csv file into a dataframe using read_csv function

df = pd.read_csv(filepath)
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

---

#### Index

In [4]:
#get the range index ( Row Labels)
df.index

RangeIndex(start=0, stop=18241, step=1)

In [5]:
#Print the Columns
df.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

#### Use 1:  Identification

In [6]:
# The row number can be use to identify each data entry in the dataframe

df[df.State=='NY'].head()

                    City Colors Reported Shape Reported State             Time
0                 Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
4   New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00
41         New York City             NaN           DISK    NY    1/8/1946 2:00
50              Syracuse             NaN           DISK    NY  2/20/1947 22:15
74              Syracuse             NaN          CIGAR    NY  7/14/1947 10:30

In [7]:
df.shape

(18241, 5)

#### Use 2:  Selection

In [8]:
# Select row 0 and column state

df.loc[0,'State']

'NY'

In [9]:
df.set_index('City', inplace=True)

In [10]:
df.head()

                     Colors Reported Shape Reported State             Time
City
Ithaca                           NaN       TRIANGLE    NY   6/1/1930 22:00
Willingboro                      NaN          OTHER    NJ  6/30/1930 20:00
Holyoke                          NaN           OVAL    CO  2/15/1931 14:00
Abilene                          NaN           DISK    KS   6/1/1931 13:00
New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [11]:
df.shape

(18241, 4)

In [12]:
df.loc['Syracuse', 'Colors Reported']

City
Syracuse          NaN
Syracuse          NaN
Syracuse          NaN
Syracuse          NaN
Syracuse          NaN
Syracuse    RED GREEN
Syracuse          NaN
Syracuse          NaN
Syracuse          NaN
Syracuse          NaN
Syracuse          NaN
Syracuse         BLUE
Syracuse          NaN
Syracuse          NaN
Name: Colors Reported, dtype: object