### Agenda: 




* Creating manual dataframe using pandas


* pandas.isnull


* pandas.Dataframe.isnull

---

In [4]:
# Import Libraries

import pandas as pd

import os

In [2]:
# Create Dataframe

df = pd.DataFrame({'ID':[1,2,3,4], 
                   'customerName':['Tom','Harry', 'Meagan','Nancy'], 
                   'Age':[20,25,34,45]})

In [3]:
df

   ID customerName  Age
0   1          Tom   20
1   2        Harry   25
2   3       Meagan   34
3   4        Nancy   45

---

#### Read Data

In [5]:
#Location of the file

filepath = os.path.join('Resources', 'ufo.csv')

In [6]:
#Read and create dataframe

ufo = pd.read_csv(filepath)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

---

#### pandas.isnull

In [8]:
pd.isnull(ufo).head()

    City  Colors Reported  Shape Reported  State   Time
0  False             True           False  False  False
1  False             True           False  False  False
2  False             True           False  False  False
3  False             True           False  False  False
4  False             True           False  False  False

---

#### pandas.Dataframe.isnull

In [10]:
ufo.isnull().head()

    City  Colors Reported  Shape Reported  State   Time
0  False             True           False  False  False
1  False             True           False  False  False
2  False             True           False  False  False
3  False             True           False  False  False
4  False             True           False  False  False