### Agenda: 


* Illustrate the ``String Methods`` in Pandas


* ``str`` to access the strings object in dataframe


* ``UPPER`` methods

    
* ``Contains`` methods

---

In [1]:
# Import Libraries

import os
import pandas as pd

In [2]:
# Declare the file path

csvpath = os.path.join('Resources', 'imdb_1000.csv')

In [3]:
# Read the csv file into a dataframe using read_csv function

df = pd.read_csv(csvpath)
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

---

#### Upper Method

In [6]:
#Apply upper function to a String

'hello'.upper()

'HELLO'

In [8]:
#Apply upper function to a Dataframe

df.title.str.upper()[:5]

0    THE SHAWSHANK REDEMPTION
1               THE GODFATHER
2      THE GODFATHER: PART II
3             THE DARK KNIGHT
4                PULP FICTION
Name: title, dtype: object

---

#### Replace Method

In [11]:
df.actors_list.str.replace('[', '').str.replace(']','').head()

0     u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'
1        u'Marlon Brando', u'Al Pacino', u'James Caan'
2    u'Al Pacino', u'Robert De Niro', u'Robert Duvall'
3    u'Christian Bale', u'Heath Ledger', u'Aaron Ec...
4    u'John Travolta', u'Uma Thurman', u'Samuel L. ...
Name: actors_list, dtype: object

---

### Get all the rows that have ``The`` on the movie Title

In [13]:
type(df.title.str.contains('the'))

pandas.core.series.Series

In [15]:
df[df.title.str.contains('the')].head(10)

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."