### Agenda: 


* Handling Date and Time data

---

In [1]:
# Import Libraries

import os
import pandas as pd

In [3]:
# File Directory

file = os.path.join('Resources', 'ufo.csv')

In [4]:
# Read the Data

ufo = pd.read_csv(file)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
#Check datatypes

ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [7]:
ufo['Time'] = pd.to_datetime(ufo.Time)

In [8]:
#Check again datatypes

ufo.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [9]:
# Print Sample

ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [14]:
ufo.Time.dt.is_month_start.sum()

2690

In [15]:
date = pd.to_datetime('1998/1/1')

In [16]:
date

Timestamp('1998-01-01 00:00:00')

In [19]:
ufo.loc[ufo.Time>= date, :].head()

                City Colors Reported Shape Reported State                Time
11089      St. Louis            BLUE          FLASH    MO 1998-01-01 00:58:00
11090      Allentown             NaN          LIGHT    PA 1998-01-01 01:42:00
11091  Elizabethtown             NaN       TRIANGLE    IL 1998-01-01 02:00:00
11092          Huelo             NaN          LIGHT    HI 1998-01-01 04:00:00
11093        Hoboken             NaN           DISK    NJ 1998-01-01 06:00:00